#lfpTitle{
    color: white;
    margin-top: 8vh;
    text-align: center;
}


.playerCard {
    background-color: #413942;
    z-index: 1; 
    box-shadow: 0px 0px 6px white;

}



.card-title{
    text-align: center;
}

