body, html {
  padding : 0px;
  margin : 0px;
  background-color: black;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

main {
  flex: 1 0 auto;
}


