body ,html  {
    margin : 0;
    padding : 0;
    background-image: #737373;
    font-family: 'Abhaya Libre', serif;
    
}
.nav-wrapper{
    background-color :#737373;
}

.brand-logo {
    display: inline;
    background-color :#737373
    
}


.lfs .login{
    background-color :#737373 !important;
}